<div class="LgMetrages">
    <h2>Les longs metrages.</h2>

    <!--Le Chateau dans le ciel-->
    <div class="image pt-3 pb-5" style="text-align:center">
        <h3> Le Chateau dans le ciel en 1986.</h3>
        <img src="/assets/Chateau.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Des pirates du ciel, la « bande de Dora » attaquent une forteresse volante ; ils recherchent une « pierre volante » appartenant à une jeune fille, Sheeta, retenue prisonnière. Cette dernière arrive à s'enfuir pour atterrir chez Pazu, un garçon
            de son âge. Tous deux, découvrirent qu'ils ont un point commun : Laputa, une île légendaire flottante dans le ciel. Le père de Pazu l'avait vu de ses propres yeux mais personne ne l'eut cru le laissant mourir de chagrin et Sheeta, elle, a
            cette « pierre volante » qui conduit jusqu'à cette île. Poursuivis par les pirates et le clan de Muska, l'homme voulant se servir de la jeune fille pour parvenir à régner sur ces terres, les deux enfants devront s'entraider pour y arriver
            avant eux.
        </p>
    </div>

    <!--Mon voisin Totoro-->
    <div class="image pt-3 pb-5" style="text-align:center">
        <h3> Mon voisin Totoro en 1988.</h3>
        <img src="/assets/LgTotoro.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>C’est une histoire d’après-guerre, et d’avant l’invention de la télévision : située quelque part entre 1945 et 1955 au Japon. Pour se rapprocher de leur mère, en convalescence dans une maison de repos à la campagne, deux petites filles, Satsuki,
            quatre ans, et Mei, son aînée, s’installent avec leur père, sous le soleil de l’été, dans une maison en pleine nature au milieu des rizières. Le père part travailler la journée, et les fillettes découvrent un nouvel univers. La voisine : une
            vieille dame ; les « noiraudes » : à la fois esprits de la maison, insectes et illusions d’optique ; un garçon de leur âge : Kanta. Un soir sous la pluie, en attendant longuement leur père à un arrêt d’autobus perdu dans la nuit et au milieu
            des arbres, la grande soeur voit et communique avec un totoro qui grogne gentiment, un être fabuleux qu’elle pensait imaginaire parce que sa cadette l’avait découvert avant elle, endormi au fond d’un labyrinthe végétal, sous un camphrier géant.
        </p>
    </div>

    <!--Le tombeau des lucioles-->
    <div class="image pt-3 pb-3" style="text-align:center">
        <h3> Le tombeau des lucioles en 1988.</h3>
        <img src="/assets/LgTombeau.png" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Japon, été 1945. Après le bombardement de Kobé, Seita, un adolescent de quatorze ans et sa petite soeur de quatre ans, Setsuko, orphelins, vont s'installer chez leur tante à quelques dizaines de kilomètres de chez eux. Celle-ci leur fait comprendre
            qu'ils sont une gêne pour la famille et doivent mériter leur riz quotidien. Seita décide de partir avec sa petite soeur. Ils se réfugient dans un bunker désaffecté en pleine campagne et vivent des jours heureux illuminés par la présence de
            milliers de lucioles. Mais bientôt la nourriture commence cruellement à manquer.
        </p>
    </div>

    <!--Kiki la petite sorcière-->
    <div class="Kiki pt-5 pb-5" style="text-align:center">
        <h3> Kiki la petite sorciere en 1989.</h3>
        <img src="/assets/LgKiki.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Kiki, une jeune sorcière, vient de fêter ses 13 ans. Selon la tradition, elle doit partir dans une ville, loin des siens, qui n’héberge actuellement pas de sorcière. C’est avec Jiji, son chat, qu’elle s’envole sur son balai vers la ville qui deviendra
            son foyer et où elle va démarrer un service de livraison. Kiki sera confrontée à bien des problèmes, l’intégration n’est pas chose aisée et la solitude peut peser. Mais il faudra bien que notre héroïne devienne indépendante pour survivre,
            comment s’y prendra-telle ? Quelles épreuves devra-t-elle surmonter ?
        </p>
    </div>

    <!--Souvenirs goutte à goutte-->
    <div class="image pt-5 pb-3" style="text-align:center">
        <h3>Souvenirs goutte a goutte en 1991.</h3>
        <img src="/assets/GoutteAGoutte.jpg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Taeko est une jeune femme de 27 ans qui se remémore son passé lors d’un voyage à la campagne. C’est l’occasion pour elle de se souvenir de son histoire lors de l’année 1966, elle était alors âgée de 11 ans. Le film entremêle présent et passé tout
            au long de l’aventure. Isao Takahata joue avec notre nostalgie tout au long de son œuvre. Grâce ces 10 jours à la campagne, Taeko a décidé d’aller de l’avant et de laisser son âme d’enfant derrière elle. Ses souvenirs lui ont permis de grandir
            et d’accepter qui elle est.
        </p>
    </div>

    <!--Porco Rosso-->
    <div class="Rosso pt-3 pb-5" style="text-align:center">
        <h3> Porco Rosso en 1992.</h3>
        <img src="/assets/LgRosso.jpg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Porco Rosso, un mercenaire justicier, combat les ridicules pirates de l’air de la bande de Mamma Aiuto. Ce chasseur de primes, plein de charme, a été mystérieusement affublé d’un visage de porc depuis un voyage dans l’au-delà dont il est revenu
            vivant. Deux femmes traversent sa vie : Gina, la belle propriétaire de l’hôtel Adriano, qui l’aime en secret depuis toujours, depuis le temps où il avait encore un visage de jeune homme. Et Fio Piccolo. Le pilote Curtis engagé pour descendre
            Porco, le provoque et détruit son avion. Porco fait alors construire son nouvel avion par la très jeune Fio qui devient son mécanicien. Curtis et Porco vont alors s’affronter dans un terrible duel.
        </p>
    </div>

    <!--Je peux entendre l'océan-->
    <div class="image pt-3 pb-5" style="text-align:center">
        <h3>Je peux entendre l'ocean en 1993.</h3>
        <img src="/assets/LgEntendre.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Rikako Muto est transférée au collège de Kochi, préfecture située au Sud de l’île de Shikoku, suite au divorce de ces parents. Elle n’a pas le choix et doit quitter Tokyo et son père pour suivre sa mère. Malgré les efforts de Yutaka Matsuno et
            Taku Morisaki, elle n’arrive pas à s’intégrer à son nouveau lieu de vie. L’histoire est basée sur les sentiments des adolescents et des choix que cela induira.
        </p>
    </div>

    <!--Pompoko-->
    <div class="Pompoko pt-3 pb-5" style="text-align:center">
        <h3>Pompoko en 1994.</h3>
        <img src="/assets/LgPompoko.jpg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Jusqu'au milieu du XXe siècle, les tanukis, emprunts d'habitudes frivoles, partageaient aisément leur espace vital avec les paysans. Leur existence était douce et paisible. Mais le gouvernement amorce la construction de la ville nouvelle de Tama.
            On commence à détruire fermes et forêts. Leur habitat devenu trop étroit, les tanukis jadis prospères et pacifistes se font la guerre, l'enjeu étant de conserver son bout de territoire. Efforts dérisoires car la forêt continue de disparaître...
            Les humains, avec qui ils ont appris à cohabiter, font preuve d'un expansionnisme inexpliqué. Les chefs de clans coordonnent la riposte. Un plan est établi sur cinq ans : le temps pour les animaux d'étudier les humains et de réveiller leur
            pouvoir de transformation. Il va falloir tenter d'effrayer les humains en évoquant peurs et superstitions. Les solutions les plus farfelues sont expérimentées.
        </p>
    </div>

    <!--Si tu tends l'oreille-->
    <div class="image pt-3 pb-5" style="text-align:center">
        <h3>Si tu tends l'oreille en 1995.</h3>
        <img src="/assets/LgOreille.jpg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>L'action se déroule dans les années 1990 dans la ville nouvelle de Tama, dans la banlieue de Tokyo. Le thème principal s'articule autour de la relation naissante entre les deux principaux protagonistes ainsi que la recherche de sa voie par Shizuku.
            On note, en thème secondaire, un jeu de chassé-croisé amoureux entre jeunes adolescents. Comme souvent dans les films de Miyazaki (qui n'en est pas le réalisateur, mais s'est beaucoup impliqué dans le projet), le thème du travail manuel et
            de l'artisanat se trouve aussi en toile de fond.
        </p>
    </div>

    <!--Princesse Mononoké-->
    <div class="Mononoke pt-5 pb-5" style="text-align:center">
        <h3>Princesse Mononoke en 1997.</h3>
        <img src="/assets/LgMononoke.jpg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Ashitaka, un jeune guerrier japonais, affronte un sanglier géant et furieux qui attaque son village. Il tue la bête, mais se retrouve atteint par un mal mystérieux. Sur le conseil des sages, il part vers l'Ouest, à la recherche de ce qui a transformé
            l'animal en démon. Au cours de son périple, il rencontre San, une jeune fille qui vit avec les loups. Ashitaka apprend que les humains sont à l'origine de tous ces maux, car ils détruisent la forêt, qu'ils exploitent pour alimenter leurs forges.
        </p>
    </div>

    <!--Mes voisins les Yamada-->
    <div class="image pt-5 pb-5" style="text-align:center">
        <h3>Mes voisins les Yamada en 1999.</h3>
        <img src="/assets/LgYamada.jpg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Nonoko Yamada, une petite fille espiègle au franc parler, nous présente chaque membre de sa famille peu ordinaire. Son père, Takashi Yamada, homme d'affaires un peu bougon ; sa mère, Matsuko, au naturel spontané, un peu fainéante, vite démoralisée
            par les tâches ménagères et autres travaux domestiques. Quant à Naboru, son grand frère, il déteste étudier. Et enfin Shige, sa grand-mère, une septuagénaire bien bavarde qui ne rate pas une occasion de donner son avis sur tout et de s'amuser
            des querelles du couple.
        </p>
    </div>

    <!--Le voyage de Chihiro-->
    <div class="image pt-5 pb-5" style="text-align:center">
        <h3>Le voyage de Chihiro en 2001.</h3>
        <img src="/assets/LgChihiro.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Chihiro est une petite fille de dix ans, grincheuse et gâtée, triste de quitter sa vie d’avant. Par erreur, s’étant engagés dans une « forêt obscure », ils se retrouvent dans un parc de loisirs abandonné. Par goinfrerie, ayant perdu la raison,
            le père et la mère sont magiquement transformés en cochons. Chihiro est alors embarquée dans un cauchemar incompréhensible au royaume des ombres. Elle devient l’humble travailleuse, d’abord clandestine puis sous contrat, sa patronne est une
            sorcière diabolique, dans un immense établissement de bains anachronique, qui oeuvre au repos temporaire des innombrables esprits de la nature de la tradition shintoïste. Rien n’est normal dans cet univers tantôt sous. Tantôt surhumain, sauf
            les règles de la vie, elles sont rigoureusement, et ce que Chihiro apprend très vite. Elle parvient à ne pas se laisser réduire, et à conserver son intégrité et sa mémoire alors que son nom même lui est dénié. C’est de cette manière qu’elle
            se sauve elle-même et parvient à racheter la métamorphose infamante de ses parents, retrouvés au finale comme si rien n’avait eu lieu.
        </p>
    </div>

    <!--Le royaume des chats-->
    <div class="image pt-3 pb-5" style="text-align:center">
        <h3>Le royaume des chats en 2002.</h3>
        <img src="/assets/LgRoyaume.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Haru est une jeune fille énergique mais toujours dans la lune qui sauve un jour un étrange chat qui manquait de se faire écraser. Le soir même, elle reçoit la visite d'un bruyant cortège uniquement composé de félins. Il se trouve qu'en fait Haru
            a secouru le prince du royaume des chats, Loon, et pour la remercier, le roi lui propose d'épouser son fils! Parce que le garçon dont elle est amoureuse sort avec une autre fille, Haru accepte dans un premier temps ce mariage puis finit par
            prendre peur. Heureusement, une mystérieuse voix l'invite à se rendre au bureau des chats pour obtenir de l'aide. Là, elle fera la connaissance du corbeau Toto et de deux chats, Mouta et Baron, qui la protégeront.
        </p>
    </div>

    <!--Le Chateau ambulant-->
    <div class="image pt-5 pb-5" style="text-align:center">
        <h3>Le Chateau ambulant en 2004.</h3>
        <img src="/assets/LgAmbulant.jpg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>La jeune Sophie, âgée de 18 ans, travaille sans relâche dans la boutique de chapelier que tenait son père avant de mourir. Toute sa vie tourne autour du magasin. Lors d’une de ses rares sorties en ville, pour aller rendre visite à sa sœur cadette,
            Sophie est accostée par deux soldats qui tentent de la charmer. Un jeune homme très séduisant arrive alors, se faisant passer pour son compagnon, et l’emmène loin de ces lourdauds. Mais ils ne sont pas hors de danger, car le mystérieux jeune
            homme est poursuivi par une horde d’êtres surnaturels, glissants, changeants, sombres, se faufilant derrière eux tentant par tous les moyens de les rattraper. Mais ce que disaient les collègues de la jeune fille le matin même se révèle exact,
            le grand Magicien Hauru (Howl dans le roman) est en ville, celui dont la rumeur dit qu’il « mange le cœur des jeunes femmes » après les avoir séduites. C’est ce que se dit Sophie en découvrant que ses pieds ne touchent plus le sol, et continuant
            d’agripper le bras de son étrange nouvel ami, elle survole la ville, jusqu’à sa destination première, où il la dépose, en sûreté.
        </p>
    </div>

    <!--Les contes de Terremer-->
    <div class="image pt-3 pb-5" style="text-align:center">
        <h3>Les contes de Terremer en 2006.</h3>
        <img src="/assets/LgTerremer.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>On raconte que jadis, les hommes et les dragons cohabitaient en paix. Mais l'irrépressible besoin de dominer des hommes brisa cette harmonie. Ils s'emparèrent de l'eau et de la terre, tandis que les dragons prirent l'air et le feu. Aujourd'hui,
            des signes semblent annoncer que, en plus d'être brisé, cette équilibre semble... perturbé. L'histoire se déroule à Terremer. Dans ce monde imaginaire, nous pouvons suivre l'histoire du prince Arren, un adolescent en quête d'identité, alors
            qu'il fuit son château et erre dans la campagne. Il rencontrera l'Épervier, la jeune Therru, Tenar la fermière, mais aussi un redoutable sorcier du nom d'Aranéide.
        </p>
    </div>

    <!--Le Chateau ambulant-->
    <div class="image pt-5 pb-5" style="text-align:center">
        <h3>Ponyo sur la falaise en 2008.</h3>
        <img src="/assets/OnYourMark.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Sous la mer, dans le sous-marin d’un sorcier, se trouve une étrange petite créature, mi-humaine mi-poisson, prénommée Ponyo. Il s’agit de la fille de Fujimoto, le dit-sorcier. Profitant du fait que ce dernier est occupé, Ponyo s’enfuit sur le
            dos d’une méduse par l’un des hublots du sous-marin. Mais, en remontant à la surface, elle se retrouve coincée dans un bocal en verre ! Dans le même temps, Sosuke, un petit garçon de cinq ans dont la maison a été construite au dessus d’une
            falaise qui surplombe la mer, descend sur la plage pour jouer. C’est là qu’il trouve Ponyo et la délivre en cassant le bocal dans lequel elle était prisonnière. Le petit garçon et la créature deviennent immédiatement amis et Sosuke met Ponyo
            dans un seau rempli d’eau puis l’emmène à l’école avec lui.
        </p>
    </div>

    <!--Arrietty, le petit monde des chapardeurs-->
    <div class="image pt-5 pb-3" style="text-align:center">
        <h3>Arrietty, le petit monde des chapardeurs en 2010.</h3>
        <img src="/assets/LgArrietty.jpg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Shô est un petit garçon de 12 ans, atteint d’une maladie de cœur, qui vient passer quelques jours chez sa tante Sadoko afin de se reposer avant d’être opéré. C’est là qu’il fait une étonnante rencontre, celle de Arrietty, une jeune fille pas plus
            grande qu’un pouce. Ces petits êtres sont appelés "les Chapardeurs". Ils doivent voler aux humains un peu de nourriture et quelques (petits) objets utiles, en prenant bien garde de ne pas être vus sinon ils seront contraints de déménager.
            Ces vols sont donc effectués de nuit. Arrietty a maintenant l’âge d’effectuer son premier chapardage en compagnie de son père, mission qui angoisse beaucoup sa mère. La mission s’avère finalement être un succès, à un détail près, Arrietty
            s'est rendu compte que Shô a découvert son existence, ce qui la mortifie. Néanmoins, Shô n’a aucune intention de dénoncer Arrietty et ses parents, il veut juste faire connaissance avec cette jeune chapardeuse. Peu à peu, Arrietty va apprendre
            à accorder sa confiance au petit garçon.
        </p>
    </div>

    <!--La colline aux coquelicots-->
    <div class="image pt-3 pb-5" style="text-align:center">
        <h3>La colline aux coquelicots en 2011.</h3>
        <img src="/assets/LgCoquelicots.jpg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Umi est une jeune lycéenne qui vit dans une vieille bâtisse perchée au sommet d’une colline surplombant le port de Yokohama. Chaque matin, depuis que son père a disparu en mer, elle hisse face à la baie deux pavillons, comme un message lancé à
            l’horizon. Au lycée, quelqu’un a même écrit un article sur cet émouvant signal dans le journal du campus. C’est peut-être l’intrépide Shun, le séduisant jeune homme qu’Umi n’a pas manqué de remarquer... Attirés l’un par l’autre, les deux jeunes
            gens vont partager de plus en plus d’activités, de la sauvegarde du vieux foyer jusqu’à la rédaction du journal. Pourtant, leur relation va prendre un tour inattendu avec la découverte d’un secret qui entoure leur naissance et semble les lier…
            Dans un Japon des années 60, entre tradition et modernité, à l’aube d’une nouvelle ère, Umi et Shun vont se découvrir et partager une émouvante histoire d’amitié, d’amour et d’espoir.
        </p>
    </div>

    <!--Le vent se lève-->
    <div class="image pt-3 pb-5" style="text-align:center">
        <h3>Le vent se leve en 2013.</h3>
        <img src="/assets/LgVent.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Dans les années 20, le jeune Jiro Horikoshi, fasciné par le ciel et le vent, rêve de devenir pilote d'avion. Mais sa mauvaise vue l'en empêche. Il commence alors des études d'ingénieur en aéronautique. C'est à cette époque que survient le tremblement
            de terre de Kanto, en 1923 : un drame qui provoque la rencontre avec la belle Nahoko, qui plus tard deviendra sa femme. Bientôt, Jiro est embauché par une firme qui décèle son incroyable talent de concepteur d'avion. En ces années d'avant-guerre,
            on le charge de construire l'avion de combat dont le Japon aura besoin pour épauler l'Allemagne nazie.
        </p>
    </div>

    <!--Le conte de la princesse Kaguya-->
    <div class="Kaguya pt-5 pb-5" style="text-align:center">
        <h3>Le conte de la princesse Kaguya en 2013.</h3>
        <img src="/assets/LgKaguya.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Adapté d’un conte populaire japonais "Le couper de bambou", un des textes fondateurs de la littérature japonaise, Kaguya, "la princesse lumineuse", est découverte dans la tige d'un bambou par des paysans. Elle devient très vite une magnifique
            jeune femme que les plus grands princes convoitent : ceux-ci vont devoir relever d’impossibles défis dans l’espoir d’obtenir sa main.
        </p>
    </div>

    <!--Souvenirs de Marnie-->
    <div class="Marnie pt-5 pb-5" style="text-align:center">
        <h3>Souvenirs de Marnie en 2014.</h3>
        <img src="/assets/LgMarnie.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Adolescente solitaire, Anna a perdu ses parents très jeune, et vit en ville avec ses parents adoptifs. Lorsque son asthme s'aggrave, sa mère adoptive l'envoie chez des parents, les Oiwa, qui vivent près de la mer dans un petit village au nord
            d'Hokkaïdo. Pour Anna, c'est le début d'un été d'aventures qui commence par sa découverte d'une grande demeure construite au coeur des marais, non loin du village. Même si elle semble avoir quelque chose de familier pour elle, La Maison des
            Marais, comme l'appellent les villageois, est inhabitée depuis bien longtemps. Et c'est là-bas qu'elle va faire la rencontre d'une étrange et mystérieuse fille : Marnie.
        </p>
    </div>

    <!--La tortue rouge-->
    <div class="Tortue pt-5 pb-5" style="text-align:center">
        <h3>La tortue rouge en 2016.</h3>
        <img src="/assets/LgTortue.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Un naufragé se trouve dans l'eau, seul, au milieu de l'océan démonté. Il s'échoue sur une plage à proximité d'une forêt de bambous. L'homme se nourrit et explore la région : il monte au sommet d'une éminence rocheuse et s'aperçoit qu'il se trouve
            sur une île déserte peuplée d'une faune et d'une flore foisonnantes. Il y a de l'eau douce à l'intérieur de l'île et des fruits comestibles. Il est très vite remarqué par de petits crabes blancs qui le suivent et l'observent chaque fois qu'il
            vient sur la plage. Alors qu'il explore la partie rocheuse de la côte, alors qu'il tente de descendre en bas de la falaise pour trouver un tonneau flottant, il tombe dans un trou entouré de hauts rochers infranchissables. Il parvient à s'en
            échapper en passant par un siphon sous-marin qu'il franchit en apnée à grand-peine. Il récupère le tonneau , le ramène sur le plage pour le découvrir vide et inutilisable. L'homme rassemble quelques troncs de bambous tombés sur le sol de la
            forêt. La nuit venue, il dort sur la plage et rêve qu'il avance en planant sur un gigantesque pont de bambous qui s'étire sans fin par-dessus la mer et lui permet de quitter l'île.
        </p>
    </div>
</div>