<div class="RealisateurGoro">
    <h1 class="Goro"> Goro Miyazaki</h1>
    <div class="RealisateurHayao" style="text-align:center">
        <img class="Goro" src="assets/RealisateurGoro.jpg" class="img-fluid rounded-circle" alt="Responsive image">
    </div>
    <h2>Qui est Goro Miyazaki ?</h2>

    <p>Goro MIYAZAKI est né le 21 janvier 1967 au Japon à Tokyo, c'est un réalisateur de films japonais, il est le fils ainé de Hayao Miyazaki.</p>
    <p>Il grandit avec son petit frère Keisuke et développe une attirance pour l’animation, en particulier celle de son père pourtant absent. À la fin du lycée, il envisage de poursuivre ses études dans l’animation, mais sa mère l’en dissuade. Goro choisit
        alors de se tourner vers le paysagisme afin de ne pas être comparé à son père. Il étudie à l’Université Shinshu de Matsumoto d’où il sort diplômé en agriculture et sciences de la forêt. Il devient alors consultant en urbanisme pendant une dizaine
        d’années au cours desquelles il participe à divers projets d’aménagement et d’architecture, en particulier pour des institutions publiques ou des parcs. À partir de 1998 Toshio Suzuki, le producteur du Studio Ghibli, l’approche pour lui proposer
        de participer à la création du Musée Ghibli imaginé par Hayao. Il refuse d’abord le poste avant de l’accepter et gérer la construction du Musée, puis endosser le rôle de directeur dès son ouverture en 2001 et jusqu’en juin 2005. Alors que Hayao
        Miyazaki réalise Le Château Ambulant, Suzuki demande à Goro de devenir consultant sur le film suivant du studio, puis de réaliser quelques planches du story-board.</p>

    <h2>Des debuts tardifs à la realisation</h2>

    <p>Miyazaki père souhaitait adapter Les Contes de Terremer de la romancière Ursula Le Guin depuis une vingtaine d’années, mais le producteur choisit finalement de confier la réalisation à son fils. Contre la volonté de Hayao qui le juge trop inexpérimenté
        pour cette tâche, Goro représente alors une nouvelle tentative de renouvellement des réalisateurs chez Ghibli. Les relations se tendent entre les deux hommes, qui ne se seraient pas parlé pendant toute la (certes courte) production du film. Le
        28 juin 2006, un mois avant la sortie publique, Hayao Miyazaki se présente finalement à la première projection du film, qu’il quitte au bout d’une heure avant de déclarer publiquement que malgré son acharnement, le fruit du travail de son fils
        est trop immature. Dans ce climat tendu, à 39 ans sort donc le premier film de Goro, l’âge même qu’avait son père lorsque son propre premier long-métrage (Le Château de Cagliostro) est sorti en 1979. Les Contes de Terremer reçoit des critiques
        mitigées et un succès public en demi-teinte. En 2009, Goro Miyazaki réalise un court-métrage d’animation publicitaire pour le journal conservateur Yomiuri Shinbun, quotidien le plus vendu au monde avec dix millions d’exemplaires en moyenne. À
        l’horizon 2010, les relations entre père et fils semblent s’être apaisées et Hayao écrit le scénario du second film de son fils, La Colline aux Coquelicots, accompagné de Keiko Niwa. Pour ce projet porté par le père à l’origine, dans la volonté
        d’adapter le manga original de 1980, celui-ci doublera même le personnage du professeur d’histoire. En juillet 2011 sort donc le second film de Goro Miyazaki. Le réalisateur travaille actuellement sur son troisième long-métrage pour le Studio
        Ghibli, un film de samouraïs dont la sortie est attendue en 2015 au plus tard. Il dirigera également l'adaptation en animée de Ronya, fille de brigand, tirée du roman d'Astrid Lindgren (à qui l'on doit également Fifi Brindacier). La série sera
        diffusée à l'automne 2014 sur la chaîne NHK.</p>

    <h2>Les longs Metrages</h2>
    <ul>
        <li> Les comtes de Terremer en 2006.</li>
        <li> La colline aux Coquelicots en 2011.</li>
    </ul>

    <h2>Court Metrage</h2>
    <ul>
        <li> Ronya, fille de brigand en 2014.</li>
    </ul>

    <h2>Film publicitaire</h2>
    <ul>
        <li> En 2009 un film publicitaire d'animation pour le journal Yomiuri Shinbun. Le trait s'inspire du style de Shigeru Sugiura, déjà crédité au générique de Pompoko. Pour avoir inspiré une forme des tanukis (apercue en clin d'œil dans la publicité).</li>
    </ul>

    <div class="embed-responsive" style="text-align:center">
        <p class="compil"> les longs Metrages de Goro MIYAZAKI</p>

        <iframe class="embed-responsive mr-1 pb-5" width="560" height="315" src="https://www.youtube.com/embed/mt-eXDIXtVo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="embed-responsive ml-1" style="text-align:center" width="560" height="315" src="https://www.youtube.com/embed/tVnW2Dk4zdg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <div class="embed-responsive" style="text-align:center">
        <p class="compil">Court Metrage de Goro MIYAZAKI</p>
        <iframe class="embed-responsive" width="560" height="315" src="https://www.youtube.com/embed/ukuTkP8d8yo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!--Fin Goro MIYAZAKI-->

    <!--Interview de Goro-->
    <div class="embed-responsive" style="text-align:center">
        <p>Interview de Goro MIYAZAKI "La colline aux coquelicots".</p>
        <iframe class="embed-responsive" width="560" height="315" src="https://www.youtube.com/embed/KncLU5RPL7U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>