<div class="footer mt-4 card-footer">
        <div class="row">
            <div class="col-12 col-sm-4 text-center mt-3">
                <ul class="rounded mx-auto d-block font-weight-bold">
                    <li>
                        <a routerLink="home" routerLinkActive="active">Studio ghibli</a>
                    </li>
                    <li>
                        <a routerLink="fondateurs" routerLinkActive="active">Les fondateurs</a>
                    </li>
                    <li>
                        <a routerLink="films" routerLinkActive="active">Les films</a>
                    </li>
                    <li>
                        <a routerLink="realisateurs" routerLinkActive="active">Les realisateurs</a>
                    </li>
                    <li>
                        <a routerLink="lieux" routerLinkActive="active">Lieux</a>
                    </li>
                    <li>
                        <a routerLink="ecrans" routerLinkActive="active">Fonds d'ecrans</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 mt-3 d-flex justify-content-center">
                <div routerLinkActive="active" class="d-flex align-items-center">
                    <img routerLink='home' src="/assets/Logo.png" class="mr-3 mt-n1 ml-3">
                </div>
                <div>
                    <p class="mt-3">Ghibli Museum, Mitaka</p>
                    <p class="mt-3">1-1-83 Shimorenjaku</p>
                    <p class="mt-3">Tokyo 181-0013, Japan</p>
                </div>
            </div>
            <div class="col-12 col-sm-4 mt-5 text-center">
                    <a href="https://www.linkedin.com/in/mickaël-robert" target="_blank">     
                <img class="img-fluid" alt="Responsive image" src="/assets/Logo-Linkedin.png" class="logo" height="60"
                    width="60">
                </a>
                <a href="https://github.com/dinak77" target="_blank">
                <img class="img-fluid" alt="Responsive image" src="/assets/Logo-Github.png" class="logoGithub" height="60"
                    width="60">
                </a>
            </div>
        </div>
    </div>
    