<div class="RealisateurTakahata">
    <h1>Isao Takahata</h1>
    <div class="RealisateurTakahata" style="text-align:center">
        <img class="Isao" src="assets/RealisateurTakahata.jpeg" class="img-fluid rounded-circle" alt="Responsive image">
    </div>
    <h2>Qui est Isao Takahata ?</h2>

    <p>Il est né le 29 Octobre 1935 à Ise au Japon est décédé le 05 avril 2018 à l'age de 82 ans à Tokyo au Japon il est né d'une famille de sept enfants. Isao Takahata fut marqué par les bombardements de la région d'Okayama par les américains pendant la
        seconde guerre mondiale, fuyant à pieds nus en pyjama avec l'une de ses soeurs. Il étudie la littérature française à l'université de Tokyo. il découvre ainsi les poèmes de Jacques Prévert, mais aussi son travail avec Paul Grimault, pour la Bergère
        et le ramoneur première version du Roi de l'Oiseau, sortie au Japon en 1956. Ce film est l'un des déclencheurs de sa vocation artistique.
    </p>

    <h2>Ses debuts et son integration</h2>

    <p> Il réalise son premier film pour le cinéma en 1968, Horus, prince du soleil. Ce film est la première réalisation "indépendante" de l'histoire de l'animation japonaise. Takahata en assure la mise en scène, car il ne dessine pas lui-même, au contraire
        de Hayao Miyazaki. Il se contente d'esquisser le story-board. Suivent Kié la petite peste en 1981 et Goshu le violoncelliste en 1982. Ces deux films évoquent un sujet cher à Takahata et qui est récurrent dans toute son oeuvre : l'abandon, l'enfance
        orpheline. Le Tombeau des lucioles, en 1988, lui apporte la reconnaissance internationale, et marque une véritable avancée dans la qualité des longs métrages d'animation. En 1991, il réalise un film intimiste et naturaliste Les Souvenirs ne s'oublient
        jamais, puis vient Pompoko (1994). En 1999 Mes voisins les Yamada connaît un beau succès à travers le monde. En 2003, il est le metteur en scène des Aventures de Petit Panda, sorti en Europe en juillet 2004. Le style des sujets traités par Takahata
        est très varié. Ainsi, Le Tombeau des lucioles est un drame de guerre plutôt réaliste, Pompoko tend vers le burlesque en présentant des tanuki qui tentent d'empêcher des humains de s'installer sur leurs terres. Le plus souvent, Isao Takahata s'inspire
        d'une œuvre préexistante (le roman d'Akiyuki Nosaka pour Le Tombeau des lucioles et celui de Kenji Miyazawa pour Goshu le violoncelliste) ou encore de l'univers des mangas (Souvenirs goutte à goutte ou Mes voisins les Yamada). Il peut également
        développer une idée originale, comme pour Pompoko (la guerre des tanuki).
    </p>




    <h2>Les longs Metrages</h2>
    <ul>
        <li> Horus, prince du soleil en 1968.</li>
        <li> Kié la petite peste en 1981.</li>
        <li> Goshu le violoncelliste en 1982.</li>
        <li> L'histoire du canal de Yanagawa en 1987.</li>
        <li> Le tombeau des lucioles en 1988.</li>
        <li> Omoide poroporo - Souvenirs goutte à goutte en 1991.</li>
        <li> Pompoko en 1994.</li>
        <li> Mes voisins les Yamada en 1999.</li>
        <li> Le conte de la princesse Kaguya en 2013.</li>

    </ul>

    <h2>Les courts Metrages</h2>
    <ul>
        <li> Panda petit Panda en 1972.</li>
        <li> Panda petit Panda le cirque sous la pluie en 1973.</li>
        <li> Jours d'hiver en 2003.</li>
    </ul>

    <h2>Series televisees</h2>
    <ul>
        <li> Heidi en 1974.</li>
        <li> Marco en 1976.</li>
        <li> Akage no An en 1979.</li>
    </ul>

    <h2>Divers</h2>
    <ul>
        <li> Ken l'enfant loup de 1963 en 1965.</li>
        <li> Gegege no Kitaro de 1968 en 1969.</li>
        <li> Mooretsu ataro de 1969 en 1970.</li>
        <li> Apache Yakyugun de 1971 en 1972.</li>
        <li> Gegege no Kitaro de 1971 en 1972.</li>
        <li> Lupin III de 1971 en 1972.</li>
        <li> Conan, le fils du futur en 1978.</li>
    </ul>

    <h2>Producteur</h2>
    <ul>
        <li> Nausicaä de la vallée du vent en 1984.</li>
        <li> Le Château dans le ciel en 1986.</li>
        <li> La tortue rouge en 2016.</li>
    </ul>

    <h2>Assistant realisateur</h2>
    <ul>
        <li> Anju to zushiōmaru en 1961.</li>
        <li> Tanoshii bunmeishi tetsu monogatari en 1962.</li>
        <li> Wanpaku ōji no orochi taiji en 1963.</li>
        <li> Ankokugai saidai no kettō en 1963.</li>
    </ul>

    <!--Carousel Wrapper-->
    <div id="video-carousel-example" class="carousel slide carousel-fade" style="text-align:center" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#video-carousel-example" data-slide-to="1"></li>
            <li data-target="#video-carousel-example" data-slide-to="2"></li>
            <li data-target="#video-carousel-example" data-slide-to="3"></li>
            <li data-target="#video-carousel-example" data-slide-to="4"></li>
            <li data-target="#video-carousel-example" data-slide-to="5"></li>
            <li data-target="#video-carousel-example" data-slide-to="6"></li>
            <li data-target="#video-carousel-example" data-slide-to="7"></li>
            <li data-target="#video-carousel-example" data-slide-to="8"></li>
            <li data-target="#video-carousel-example" data-slide-to="9"></li>
            <li data-target="#video-carousel-example" data-slide-to="10"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">

                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/0qXbW_Ra5I4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/zU4UIXHZin0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/XKSbse-1S3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/uLJo785YJsM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/zdIqND__di8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/uXXlYqPEhRs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/S9nzOeuRrKQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ctdEB6tTbL8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>