<nav class="navbar navbar-expand-sm navbar-light custom-toggler text-light" style="background-color: #00BFFF;">
    <button class="navbar-toggler borderBurgerMenu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img src="/assets/Logo.png" width="100" height="100" class="d-inline-block align-top" alt="">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0 row align-items-center justify-content-center">
            <li class="nav-item pr-4">
                <a routerLink="home" routerLinkActive="active"> Studio ghibli</a>
            </li>
            <li class="nav-item pr-4">
                <a routerLink="fondateur" routerLinkActive="active"> Les fondateurs</a>
            </li>
            <li class="nav-item pr-4">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Les films</a>
                    <div class="dropdown-menu" style="background-color: #00BFFF;">
                        <a class="dropdown-item" style="background-color: #00BFFF;" routerLink="LgMetrages" routerLinkActive="active">Longs Metrages</a>
                        <a class="dropdown-item" style="background-color: #00BFFF;" routerLink="CtMetrages" routerLinkActive="active">Court Metrages</a>
                        <a class="dropdown-item" style="background-color: #00BFFF;" href="Actualite.html">Actualite</a>
                    </div>
                </div>
            </li>
            <li class="nav-item pr-4">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Les realisateurs</a>
                    <div class="dropdown-menu" style="background-color: #00BFFF;">
                        <a class="dropdown-item" style="background-color: #00BFFF;" routerLink="Miyazaki" routerLinkActive="active">Hayao Miyazaki</a>
                        <a class="dropdown-item" style="background-color: #00BFFF;" routerLink="Takahata" routerLinkActive="active">Isao Takahata</a>
                        <a class="dropdown-item" style="background-color: #00BFFF;" routerLink="Goro-Miyazaki" routerLinkActive="active">Goro Miyazaki</a>
                        <a class="dropdown-item" style="background-color: #00BFFF;" href="LgMetrages.html">Hiromasa Yonebayashi</a>
                        <a class="dropdown-item" style="background-color: #00BFFF;" href="CtMetrages.html">Yoshifumi kondo</a>
                        <a class="dropdown-item" style="background-color: #00BFFF;" href="Actualite.html">Tomomi Mochizuki</a>
                        <a class="dropdown-item" style="background-color: #00BFFF;" href="Actualite.html">Hiroyuki Morita</a>
                    </div>
                </div>
            </li>
            <li class="nav-item pr-4">
                <a routerLink="lieux" routerLinkActive="active"> Lieux</a>
            </li>
            <li class="nav-item pr-4">
                <a routerLink="fond-ecran" routerLinkActive="active"> Fonds d'ecrans</a>
            </li>
        </ul>
        <img src="/assets/Logo.png" width="100" height="100" class="d-inline-block align-top" alt="">
    </div>
</nav>