<div class="RealisateurYonebayashi">
    <h1> Hiromasa Yonebayashi</h1>
    <div class="RealisateurYonebayashi" style="text-align:center">
        <img class="Hiromasa" src="assets/Yonebayashi.jpeg" class="img-fluid rounded-circle" alt="Responsive image">
    </div>

    <h2>Qui est Hiromasa Yonebayashi ?</h2>

    <p>Hiromasa Yonebayashi est né le 10 juillet 1973 dans la ville de Nonoichi dans la préfecture d'Ishikawa.</p>

    <h2>Ses debuts et son integration</h2>
    <p>Il effectue des études de design dans l'Université d'Art de Kanazawa, Pendant ses études, il travaille à temps partiel comme dessinateur de caricatures et comme animateur pour des publicités à la télévision. En 1996, il entre au Studio Ghibli. Il
        y est intervalliste sur Princesse Mononoké de Hayao Miyazaki (1997) et Mes voisins les Yamada d’Isao Takahata (1999), puis animateur clé sur Le voyage de Chihiro de Hayao Miyazaki (2001), The Ghiblies, Épisode 2 (2002), et Le château ambulant
        (2004) et Ponyo sur la falaise (2008), tous deux réalisés par Hayao Miyazaki. Il a également été superviseur de l’animation adjoint sur Les contes de Terremer, une autre production Ghibli réalisée par Goro Miyazaki, en 2006.Parallèlement aux films
        d’animation Ghibli, Hiromasa Yonebayashi a travaillé sur des courts métrages originaux pour le Musée Ghibli, à Mitaka. Il a été directeur de l’animation de Mei and the Baby Cat Bus (2002), et superviseur de l’animation sur Imaginary Flying Machines
        (2002). Il a en outre créé le storyboard et réalisé Evolution en 2008, un court métrage documentaire ayant pour sujet l’une des attractions du Musée Ghibli, l’exposition « Films Go Round ».Hiromasa Yonebayashi a réalisé son premier long métrage
        avec Arrietty : le petit monde des chapardeurs en 2010, pour le Studio Ghibli. Le film a été le plus gros succès de l’année au Japon avec plus de 7,65 millions de spectateurs et des recettes au box-office de 9,25 milliards de yen.Après avoir été
        animateur clé sur La colline aux coquelicots de Goro Miyazaki en 2011 et Le vent se lève de Hayao Miyazaki en 2013, il réalise son deuxième film avec Souvenirs de Marnie, sorti au Japon le 19 juillet 2014.

        <h2>Les longs Metrages</h2>
        <ul>
            <li> Arrietty, le petit monde des chapardeurs en 2010.</li>
            <li> Souvenirs de Marnie en 2014.</li>
            <li> Mary et la fleur de la sorcière en 2017, produit par le Studio Ponoc.</li>
        </ul>

        <h2>Court Metrage</h2>
        <ul>
            <li> Modest Heroes en 2018, produit par le Studio Ponoc.</li>
        </ul>

        <div class="embed-responsive" style="text-align:center">
            <p class="compil"> les longs Metrages de Hiromasa Yonebayashi</p>
            <iframe class="OeuvresHiromasa" width="560" height="315" src="https://www.youtube.com/embed/RYwYgH9uA_8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class="OeuvresHiromasa" width="560" height="315" src="https://www.youtube.com/embed/hLIj6N9FAEo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="embed-responsive" style="text-align:center">
            <p class="compil">Court Metrage de Hiromasa Yonebayashi</p>
            <iframe class="OeuvresHiromasa" width="560" height="315" src="https://www.youtube.com/embed/wvH862Px4g0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <!--Interview de Hiromasa Yonebayashi-->
        <div class="embed-responsive" style="text-align:center">
            <p>Interview de Hiromasa Yonebayashi "Souvenirs de Marnie".</p>
            <iframe class="InterviewHiromasa" width="560" height="315" src="https://www.youtube.com/embed/wBqpaf37ljs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</div>