<div class="RealisateurMorita">
    <h1> Hiroyuki Morita</h1>
    <div class="RealisateurMorita" style="text-align:center">
        <img class="Hiroyuki" src="assets/RealisateurMorita.jpeg" class="img-fluid rounded-circle" alt="Responsive image">
    </div>

    <h2>Qui est Hiroyuki Morita ?</h2>

    <p>Il est né le 26 juin 1964 dans la préfecture de Fukuokaau Japon. Il est réalisateur et animateur clé de films d'animation et de série televisée.</p>

    <h2>Ses debuts et son integration</h2>
    <p> Hiroyuki Morita commence sa carrière au cinéma en tant qu'intervalliste sur le film Akira de Katsuhiro Otomo en 1988. Il rejoint le Studio Ghibli l'année suivante et travaille aux côtés de Hayao Miyazaki sur le film Kiki la petite sorcière. Puis il
        quitte un moment le studio, et travaille sur d'autres films et séries, notamment sur Perfect Blue de Satoshi Kon (1997). Revenu au Studio Ghibli, il effectue une prestation remarquée sur le film Mes voisins les Yamada d'Isao Takahata (1999). Il
        réalise peu de temps après son premier film : Le Royaume des chats (2002), sorti le 30 juillet 2003 sur les écrans français.</p>


    <h2>Les longs Metrages</h2>
    <ul>
        <li> Akira en 1988.</li>
        <li> Kiki la petite sorcière en 1989.</li>
        <li> Roujin Z en 1991.</li>
        <li> Hashire Melos en 1992.</li>
        <li> Memories en 1995.</li>
        <li> Perfect Blue en 1997.</li>
        <li> Mes voisins les Yamada en 1999.</li>
        <li> Tenchi Muyo - le film 2 en 1999.</li>
        <li> Le royaume des chats en 2002.</li>
        <li> Innocence Ghost in tHe Shell 2 en 2004.</li>
        <li> Les contes de Terremer en 2006.</li>
        <li> Doraemon the Legend 2010.</li>
        <li> Doraemon Shin nobita to Tetsujin Heidan en 2011.</li>
    </ul>

    <h2>Autres partie de sa carriere</h2>
    <ul>
        <li> Une vie nouvelle de 1987 en 1988.</li>
        <li> Goodbye Lady Liberty en 1989.</li>
        <li> Jojo's Bizarre Adventure de 1994 en 1996.</li>
        <li> Golden Boy de 1995 en 1996.</li>
        <li> Famous Dog Lassie en 1996.</li>
        <li> Kenshin le vagabond en 1996.</li>
        <li> Ah! My goddess de 1998 en 1999.</li>
        <li> Koro no Daisanpo en 2002.</li>
        <li> Texhnolyze en 2003.</li>
        <li> Planetes en 2004.</li>
        <li> Paranoia Agent en 2004.</li>
        <li> Koi kaze en 2004.</li>
        <li> Mujin wakusei Survive en 2004.</li>
        <li> Monster de 2004 en 2005.</li>
        <li> Noein en 2006.</li>
        <li> Witchblade en 2006.</li>
        <li> Bokurano, notre enjeu en 2007.</li>
        <li> Denno Coil en 2007.</li>
        <li> Himitsu Top secret en 2008.</li>
        <li> Black Butler en 2009.</li>
        <li> Testsuwan Birdy en 2009.</li>
        <li> Valkyrua Chronicles en 2009.</li>
        <li> Umineko no Naku Koro ni en 2009.</li>
        <li> Transformers Animated en 2010.</li>
        <li> Ano Hi Hana no namae O Bokutachi wa mada Shiranai en 2011.</li>
        <li> Un drole de père en 2011.</li>
        <li> Working!! S2 en 2011.</li>
        <li> Secret service en 2012.</li>

    </ul>

    <div class="embed-responsive" style="text-align:center">
        <h1>Les longs Metrage de Hiroyuki Morita "realise".</h1>
        <iframe class="embed-responsive" width="560" height="315" src="https://www.youtube.com/embed/GH2NuqF5eS4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    <div class="embed-responsive" style="text-align:center">
        <h1>Les Court Metrage de Hiroyuki Morita "realise".</h1>
        <iframe class="embed-responsive" width="560" height="315" src="https://www.youtube.com/embed/99VKtcydHUU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>