<div class="CtMetrages">
    <h2>Les courts metrages.</h2>

    <!--On your Mark-->
    <div class="image mt-1" style="text-align:center">
        <h3>On your Mark en 1995.</h3>
        <img src="/assets/OnYourMark.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p> C’est une histoire d’après-guerre, et d’avant l’invention de la télévision : située quelque part entre 1945 et 1955 au Japon. Pour se rapprocher de leur mère, en convalescence dans une maison de repos à la campagne, deux petites filles, Satsuki,
            quatre ans, et Mei, son aînée, s’installent avec leur père, sous le soleil de l’été, dans une maison en pleine nature au milieu des rizières. Le père part travailler la journée, et les fillettes découvrent un nouvel univers. La voisine : une
            vieille dame ; les « noiraudes » : à la fois esprits de la maison, insectes et illusions d’optique ; un garçon de leur âge : Kanta. Un soir sous la pluie, en attendant longuement leur père à un arrêt d’autobus perdu dans la nuit et au milieu
            des arbres,la grande soeur voit et communique avec un totoro qui grogne gentiment, un être fabuleux qu’elle pensait imaginaire parce que sa cadette l’avait découvert avant elle, endormi au fond d’un labyrinthe végétal, sous un camphrier géant.</p>
    </div>

    <!--Ghiblies-->
    <div class="image pt-2 pb-5" style="text-align:center">
        <h3>Ghiblies en 2000.</h3>
        <img src="/assets/Ghiblies1.jpg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Ghiblies est un court-métrage d'animation du studio Ghibli sorti le 08 avril 2000 d'une durée d'environ 20 minutes. C’est un court racontant la vie d’un studio d’animation fictif nommé «Ghibli» et des gens qui y travaillent. Réalisé par Momose
            Yoshiyuki pour la télévision en 2000.</p>
    </div>

    <!--La Chasse à la baleine-->
    <div class="baleine pt-5 pb-5" style="text-align:center">
        <h3>La chasse a la baleine en 2001.</h3>
        <img src="/assets/LaChasseALaBaleine.jpg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p> C’est l’histoire d’écoliers de maternelle qui jouent dans leur classe à faire semblant de construire un bateau dans le but de partir à la chasse à la baleine. Quand l’imagination remplace la réalité, ils se retrouvent ensuite au milieu de l’océan
            et ils partent chasser leur propre baleine. Certains enfants veulent harponner la baleine tandis que d’autres veulent juste la prendre en photo. Finalement, une gentille baleine apparaît et joue avec les enfants jusqu’à ce que leur rêve prenne
            fin et qu’ils reviennent à la réalité.
        </p>
    </div>

    <!--La grande excursion de Koro-->
    <div class="image pt-4 pb-5" style="text-align: center">
        <h3>La grande excursion de Koro en 2001.</h3>
        <img src="/assets/Koro.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Le film parle de Koro, le chiot, qui fuit sa maîtresse, vit des aventures en ville et qui est enfin heureux de rentrer à la maison.</p>
    </div>


    <!--Ghiblies Episode 2-->
    <div class="Ghiblies2 pt-5 pb-5" style="text-align: center">
        <h3>Ghiblies Episode 2 en 2002.</h3>
        <img src="/assets/Ghiblies.jpg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p> Les Ghiblies sont de retour. Dans ce nouvel épisode nous avons la chance de voir le personnel Ghibli manger curry très épicé pour le déjeuner et plus d’information sur le premier amour de Nonaka dans une suite de l’un des courts métrages les plus
            singuliers du Studio Ghibli.
        </p>
    </div>

    <!--Mei to Konekobasu-->
    <div class="Mei pt-5 pb-5" style="text-align: center">
        <h3>Mei to Konekobasu en 2002.</h3>
        <img src="/assets/Koro.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Par un jour très venteux, Mei rencontre le chatonbus, et lui donne du caramel afin d'en faire son ami. Plus tard dans la nuit, le chatonbus vient chercher Mei afin de l'emmener à la gare des transports chats. Elle y voit des chattrains ainsi qu'un
            chatavion. Elle revoit son ami Totoro dans la gare, qui l'emmène voir un vieux chatavion. Elle lui donne aussi du caramel et ils deviennent ainsi amis. Le chatonbus finit par la ramener chez elle. </p>
    </div>

    <!--Machines volantes imaginaires-->
    <div class="Mei pt-5 pb-5" style="text-align: center">
        <h3>Machines volantes imaginaires en 2002.</h3>
        <img src="/assets/MachineVolantes.jpg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Rikako Muto est transférée au collège de Kochi, préfecture située au Sud de l’île de Shikoku, suite au divorce de ces parents. Elle n’a pas le choix et doit quitter Tokyo et son père pour suivre sa mère. Malgré les efforts de Yutaka Matsuno et
            Taku Morisaki, elle n’arrive pas à s’intégrer à son nouveau lieu de vie. L’histoire est basée sur les sentiments des adolescents et des choix que cela induira.</p>
    </div>

    <!--A la recherche d'une maison-->
    <div class="Mei pt-5 pb-5" style="text-align: center">
        <h3>A la recherche d'une maison en 2006.</h3>
        <img src="/assets/RechercheMaison.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Pleine de bonne humeur, Fuki part chargée d'un grand sac à dos à la recherche d'une nouvelle maison. Le long du chemin, elle rencontre de nombreuses manifestations du monde naturel, allant d'un poisson à des insectes en passant par un kami qui
            ressemblait à Totoro, et elle se lie d'amitié avec elles.</p>
    </div>

    <!--Monomon l'araignée d'eau-->
    <div class="Monomon pt-5 pb-5" style="text-align: center">
        <h3>Monomon l'araignee d'eau en 2006.</h3>
        <img src="/assets/Monomon.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Le personnage principal du court-métrage est une araignée d’eau qui semble être tombée en amour avec une gerris (punaises d’eau). Même si elle a peur de lui au début, la gerris finit par s’habituer à la présence de l’araignée d’eau.</p>
    </div>

    <!--A la recherche d'une maison-->
    <div class="UneEtoile pt-5 pb-5" style="text-align: center">
        <h3>Le Jour ou j'ai cultive une etoile en 2006.</h3>
        <img src="/assets/UneEtoile.jpeg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Un jour, en se promenant dans la désert, Nona, un jeune garçon, rencontra Ninia et décida de travailler pour elle, allant et venant jusqu'à un puits à vélo afin de lui ramener de l'eau. Il mena chaque jour cette tâche difficile à bien. Un beau
            jour, Nona rencontra une taupe, Skoppero, une grenouille, Maykinso, qui lui vendirent une graine d'étoile. Peu après qu'il l'eût plantée, celle-ci devint adulte. Nona doit alors l'aider à rejoindre ses sœurs dans le ciel.</p>
    </div>

    <!--La Nuit de Taneyamagahara-->
    <div class="Taneyamagahara pt-5 pb-5" style="text-align: center">
        <h3>La Nuit de Taneyamagahara en 2006.</h3>
        <img src="/assets/Taneyamagahara.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Un jeune charbonnier qui va entendre l'appel du dieu de la forêt dans un songe. Ce dernier lui demandera de traiter les arbres avec plus de respect, car eux aussi sont des êtres vivants.</p>
    </div>

    <!--Iblard Jikan-->
    <div class="IblardJikan pt-5 pb-5" style="text-align: center">
        <h3>Iblard Jikan en 2007.</h3>
        <img src="/assets/IblardJikan.jpg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>Muet, il s'agit d'un film d'environ trente minutes qui présente les différents tableaux de l'artiste Naohisa Inoue, lui-même réalisateur. Iblard Jikan ne raconte pas vraiment d'histoire, il invite à voyager dans une galerie aux allures fantastiques.</p>
    </div>

    <!--Les Souris sumo-->
    <div class="IblardJikan pt-5 pb-5" style="text-align: center">
        <h3>Les Souris sumo en 2010.</h3>
        <img src="/assets/Souris.jpg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>Un fermier vivant à la campagne au milieu des Alpes japonaises aperçoit un petit groupe de souris grises se déplaçant sur leurs deux pattes arrières en direction de la forêt situé juste à côté de la vieille bicoque. Il décide de les suivre et
            découvre un mini-festival organisé par plusieurs petits animaux de la forêt dont les souris grises et blanches mais aussi des grenouilles et des crapauds. Ce festival consiste en plusieurs combats successifs de sumo entre les souris grises
            et les blanches qui sont plus grosses et plus fortes. Ces dernières ont toujours remporté le tournoi sous l’œil vigilant des arbitres batraciens. Voyant que les souris grises sont en train de se décourager, le vieil homme leur prépare des
            bons plats avec morceaux de légumes de son jardin pour leur donner des forces. Tous ensemble, ils se dirigent ensuite dans la forêt pour l’ultime tournoi !</p>
    </div>

    <!--M. Pâte et la princesse Œuf-->
    <div class="PrincesseŒuf pt-1 pb-2" style="text-align: center">
        <h3>M. Pate et la princesse oeuf en 2010.</h3>
        <img src="/assets/PrincesseŒuf.jpg" class="img-fluid1" alt="Responsive image" style="width:250px;height:250px;">
        <p>C’est l’histoire d’une petite princesse Œuf qui est forcé de servir la sorcière Baba Yaga dans un moulin à eau sur une falaise. Mais lorsqu’un gros morceau de pâte pétrie revient à la vie par magie, lui et la princesse œuf s’échappent de la maison
            de la sorcière puis le duo se lie d’amitié et part découvrir le monde.</p>
    </div>

    <!--La Chasse au trésor-->
    <div class="ChasseTresor pt-5 pb-5" style="text-align: center">
        <h3>La Chasse au tresor en 2011.</h3>
        <img src="/assets/ChasseTresor.jpeg" class="img-fluid" alt="Responsive image" style="width:250px;height:250px;">
        <p>C’est l’histoire d’un petit garçon du nom de Yûji et d’un lapin du nom de Gikku qui trouvent une canne en même temps. Yûji et Gikku décident alors de se défier dans des épreuves sportives afin de déterminer qui des deux pourra garder le précieux
            objet. Cependant, ils sont toujours à égalité peu importe les épreuves qu’ils décident de passer, que ça soit la course à pied, le saut en longueur ou encore le sumo.</p>
    </div>