<h1> Les fondateurs de Ghibli</h1>
<div class="Fondateur" style="text-align:center">
    <img src="assets/Fondateurs.jpg" class="img-fluid" alt="Responsive image">
</div>
<h2>Isao TAKAHATA</h2>
<div class="Isao-Fondateur mt-3" style="text-align:center">
    <img src="assets/isao-fondateur.jpg" height="250" width="250" alt="Isao" class="rounded-circle mb-4">
</div>
<p> Né le 29 octobre 1935 est décédé le 5 avril 2018 à Tokyo. Isao TAKAHATA était un réalisateur, producteur et fondateur du studio Ghibli, sa notorité vient principalement du film Le tombeau des Lucioles sorti en 1988.</p>
<p> Isao est né au Japon, marqué par les bombardements.</p>
<p>Il étudie la littérature francaise a l'université de Tokyo, en effet passionné par la France ainsi que sa culture il effectue de fréquent voyage. Il découvre les poèmes de Jacques Prévert, mais aussi son travail avec le réalisateur de film d'animation
    francais Paul Grimault. </p>
<p> En 1959, Isao intégre le studio d'animation Tōei Animation, il réalise donc son tout premier long métrage Horus, prince du soleil sortit en 1968.</p>
<p> nous retrouvons ci-dessous une liste des longs et court métrage, serie tv ainsi que ses chef d'oeuvres en tant que producteur.
</p>
<h4>Longs metrages</h4>
<ul>
    <li> Horus, prince du soleil en 1968.</li>
    <li> lié la petite peste en 1981.</li>
    <li> Goshu le violoncelliste en 1982.</li>
    <li> L'histoire du canal de Yanagawa en 1987.</li>
    <li> Le tombeau des lucioles en 1988.</li>
    <li> Omoide Poroporo- Souvenirs goutte à goute en 1991.</li>
    <li> Pompoko en 1994. </li>
    <li> Mes voisins les Yamada en 1999.</li>
    <li> Le conte de la princesse Kaguya en 2013.</li>
</ul>
<h4>Court metrages</h4>
<ul>
    <li> Panda petit Panda en 1972.</li>
    <li> Panda petit Panda, le cirque sous la pluie en 1973.</li>
    <li> Jours d'hiver en 2003.</li>
</ul>
<div class="compil" style="text-align:center">
    <h4> Vous trouverez ci-joins une vidéo des oeuvres de Isao TAKAHATA</h4>

    <iframe class="videoGhibli" width="560" height="315" src="https://www.youtube.com/embed/EiC2ty8XAQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid" alt="Responsive image"></iframe>
</div>

<!--Hayao MIYAZAKI-->
<h2>Hayao MIYAZAKI</h2>
<div class="Hayao-Fondateur mt-3" style="text-align:center">
    <img class="Hayao" src="assets/Hayao.jpg" height="250" width="250" alt="Hayao" class="rounded-circle mb-4">
</div>
<p> Né le 05 janvier 1941 à Tokyo. Hayao MIYAZAKI est un réalisateur, dessinateur, producteur de films d'animation japonais et fondateur du studio Ghibli, sa notorité vient principalement du film La princesse Mononoké sorti en 1999.
</p>
<p> Hayao est né au Japon, dans l’arrondissement de Bunkyō.</p>
<p> Ses oeuvres sont marqué par la seconde guerre mondiale.
    <p> nous retrouvons ci-dessous une liste des longs et court métrage, serie tv ainsi que ses chef d'oeuvres en tant que producteur.</p>
    <h4>Longs metrages</h4>
    <ul>
        <li> Le Château de Cagliostro en 1979. </li>
        <li> Nausicaä de la vallée du vent en 1984.</li>
        <li> Le Château dans le ciel en 1986.</li>
        <li> Kiki la petite sorcière en 1989.</li>
        <li> Porco Rosso en 1992.</li>
        <li> Princesse Mononoké en 1997. </li>
        <li> Le voyage de Chiro en 2001. </li>
        <li> Le Château ambulant en 2004. </li>
        <li> Ponyo sur la falaise en 2008.</li>
        <li> Le vent se lève en 2013.</li>
    </ul>
    <h4>Court metages</h4>
    <ul>
        <li> On your Mark en 1995.</li>
        <li> La chasse à la baleine en 2001.</li>
        <li> La grande excursion de Koro en 2002. </li>
        <li> Mei et le Chatonbus en 2002.</li>
        <li> Machines volantes imaginaires en 2002.</li>
        <li> A la recherche d'une maison en 2006.</li>
        <li> Monomon l'araignée d'eau en 2006.</li>
        <li> Le jour où j'ai cultivé une étoile en 2006.</li>
        <li> M. Pâte et la princesse Oeuf en 2010.</li>
        <li> La chasse au trésor en 2011.</li>
        <li> Boro la petite chenille en 2018.</li>
    </ul>
    <div class="compil" style="text-align:center">
        <h4> Vous trouverez ci-joins une vidéo des oeuvres de Isao TAKAHATA</h4>
        <iframe class="videoGhibli" width="560" height="315" src="https://www.youtube.com/embed/Y3_XCQ09f-Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid" alt="Responsive image"></iframe>
    </div>

    <!--Compilation Ghibli-->
    <div class="compil" style="text-align:center">
        <h1>La compilation des films du studio Ghibli.</h1>
        <iframe class="videoGhibli" width="560" height="315" src="https://www.youtube.com/embed/wk_04v_4V2k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid" alt="Responsive image"></iframe>
    </div>