<div class="RealisateurKondo">
    <h1> Yoshifumi Kondo</h1>
    <div class="RealisateurKondo" style="text-align:center">
        <img class="Kondo" src="assets/RealisateurYoshifumi.jpeg" class="img-fluid rounded-circle" alt="Responsive image">
    </div>
    <h2>Qui etait Yoshifumi Kondo ?</h2>
    <p>né le 31 mars 1950 à Gosen et décédé le 21 janvier 1998 à Tachikawa, il était animateur télé, directeur de l'animation et réalisateur.</p>

    <h2>Ses debuts et son integration</h2>
    <p> Il était souvent perçu comme le successeur d'Hayao Miyazaki, et on lui confiera notamment pour la première fois la réalisation d'un film (Mimi wo sumaseba, en 1995), tâche habituellement réservé aux 2 fondateurs : Isao Takahata et Miyazaki. Son décès
        signifia le retour de celui-ci, prêt à partir en retraite.</p>


    <h2>Les longs Metrages</h2>
    <ul>
        <li> Le tombeau des lucioles en 1988. Character designer et chef animateur.</li>
        <li> Kiki la petite sorcière en 1989. Chef animateur</li>
        <li> Souvenirs gouttes à gouttes en 1991. Character designer et chef animateur.</li>
        <li> Porco Rosso en 1992. Animateur-clé.</li>
        <li> Je peux entendre l'océan en 1993. Animateur-clé.</li>
        <li> Pompoko en 1994. Animateur-clé.</li>
        <li> Si tu tend l'oreille en 1995. Réalisateur.</li>
        <li> Princesse Mononoké en 1997. Chef animateur.</li>
    </ul>

    <h2>Autres partie de sa carriere</h2>
    <ul>
        <li> Kyojin no Hoshi en 1968. Animateur-clé.</li>
        <li> Lupin III de 1971 en 1972.Animateur-clé.</li>
        <li> Dokonj Gaeru de 1972 en 1974. Animateur-clé.</li>
        <li> Panda Kopanda en 1972. Animateur-clé.</li>
        <li> Panda Kopanda amefuri circus no maki en 1973. Animateur-clé.</li>
        <li> Ganba no Bken en 1975. Animateur-clé.</li>
        <li> Manga NIppon Mukashi BAnashi en 1977. Animation.</li>
        <li> Sogen no ko tenguri en 1977. Dessin.</li>
        <li> Conan le fils du futur en 1978. Animateur-clé.</li>
        <li> Ore wa Teppei de 1977 en 1978. Scénarimageur.</li>
        <li> Anne la maison aux pignons verts en 1979. Character designer, chef animateur.</li>
        <li> Tom Sawyer en 1980. Animateur-clé.</li>
        <li> Little Nemo - adventures in Slumberland en 1984. Réalisateur.</li>
        <li> Sherlock Holmes de 1984 en 1985. Animateur-clé.</li>
        <li> Ai Shojo Porianna Monogatari en 1986. Animateur-clé.</li>
        <li> Les quatres filles du Docteur March en 1987. Character designer.</li>
    </ul>

    <div class="embed-responsive" style="text-align:center">
        <p class="compil"> les longs Metrages de Yoshifumi Kondo "réalisé".</p>
        <iframe class="OeuvresYoshifumi" width="560" height="315" src="https://www.youtube.com/embed/GH2NuqF5eS4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embed-responsive" style="text-align:center">
        <p class="compil">Court Metrage de Yoshifumi Kondo "réalisé".</p>
        <iframe class="OeuvresYoshifumi" width="560" height="315" src="https://www.youtube.com/embed/99VKtcydHUU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>