<div class="RealisateurHayao">
    <h1>Hayao Miyazaki</h1>
    <div class="RealisateurHayao" style="text-align:center">
        <img class="hayao" src="assets/RealisateurHayao.jpg" class="img-fluid rounded-circle" alt="Responsive image">
    </div>
    <h2>Qui est Hayao Miyazaki ?</h2>

    <p>Il est né le 05 janvier 1941 à Tokyo au Japon. Deuxième d’une fratrie de quatre garçons, son enfance est marquée par un Japon dévasté par la Seconde Guerre mondiale. L’œuvre de Miyazaki en sera beaucoup inspirée. Son père, Katsuji Miyazaki, est alors
        directeur de Miyazaki Airplane, une entreprise en aéronautique appartenant à son frère. La mère de Hayao est une femme intelligente, plutôt réservée et stricte. En 1947, elle est diagnostiquée du mal de Pott (une forme de tuberculose). Elle reste
        alitée, d’abord à l’hôpital pendant trois ans puis chez elle jusqu'en 1955. Hayao est très proche d’elle ; par bien des aspects le film Mon voisin Totoro s'avère autobiographique. Dans Le vent se lève la tuberculose touche Nahoko Satomi, l'héroïne
        principale. Shirō Miyazaki, le frère cadet de Hayao, dit du personnage de Dora dans Le Château dans le ciel qu'il est basé sur leur mère, non physiquement mais en ce qui se rapporte à la personnalité
    </p>

    <h2>Ses debuts et son integration</h2>
    <p> Hayao Miyazaki dessine dès son jeune âge. Il est marqué par les stigmates du Japon d'après guerre. En 1958, la sortie du premier film d'animation japonais , Le serpent blanc, est une révélation pour le jeune lycéen, qui décide de travailler dans l'animation.
        Il est embauché en 1963 par le studio Toei, où il se fait remarquer par son travail et son talent. Le couple donne naissance à deux fils : Gorō Miyazaki en janvier 1967, qui devient lui aussi réalisateur, travaillant parfois pour le studio de
        son père, et un second en avril 1969, Keisuke, artiste ayant fait des gravures et figurines en bois, dont une qui apparaît dans le film Si tu tends l’oreille6,7. La famille déménage à Tokorozawa dans la préfecture de Saitama en 19707. Sa femme
        quitte son travail pour élever les garçons. En 1983 Hayao MIYAZAKI réalise Nausicaa de la vallée du vent. après avoir publié les premiers épisodes en manga. C'est un énorme succès au Japon lors de sa sortie en 1984. Le réalisateur peut ainsi ouvrir
        Ghibli en 1985, son propre studio. Le chateau dans le ciel sort en 1986 , mais c'est avec Mon voisin Totoro en 1988 que le studio connaît une grande réussite. En 1989, Kiki la petite sorcière est également un succès. Grâce à l'accord passé avec
        Disney en 1996, tous les longs-métrages vont pouvoir être diffusés dans le monde entier. Le chef-d'oeuvres princesse Mononoké, sorti en 1997, signe le reconnaissance internationale de Hayao MIYAZAKI. En 2001, Le voyage de Chihiro reçoit de nombreuses
        récompensesdont l'Oscar du meilleur film d'animation. Le film réalise 24 millions d'entrées au Japon, c'est un record historique. Hayao MIYAZAKI inaugure le musée Ghibli à Tokyo, cette même année. Il a également réalisé Porco Rosso en 1992 et
        le Chateau ambulant en 2004. Peu après la sortie de son dernier film, Le vent se lève, en 2013, le maitre Hayao MIYAZAKI annonce sa retraite à l'àge de 72 ans. En 2014, il est inscrit pour le prix du "Temple de la renommée Will Eisner" et à celui
        du "Science Fiction Museum".
    </p>

    <h2>Les longs Metrages</h2>
    <ul>
        <li> Le chateau de Cagliostro en 1979.</li>
        <li> Nausicaa la vallée du vent en 1984.</li>
        <li> Le chateau dans le ciel en 1986.</li>
        <li> Mon voisin Totoro en 1988.</li>
        <li> Kiki la petite sorcière en 1989.</li>
        <li> Porco Rosso en 1992.</li>
        <li> Princesse Mononoké en 1997.</li>
        <li> Le voyage de Chihiro en 2001.</li>
        <li> Le chateau ambulant en 2004.</li>
        <li> Ponyo sur la falaise en 2008.</li>
        <li> Le vent se lève en 2013.</li>
    </ul>

    <h2>Les courts Metrages</h2>
    <ul>
        <li> On your Mark en 1995.</li>
        <li> La chasse à la baleine en 2001.</li>
        <li> La grande excursion de Koro en 2002.</li>
        <li> Mei et le chatonbus en 2002.</li>
        <li> Machines volantes imaginaires en 2002.</li>
        <li> A la recherche d'une maison en 2006.</li>
        <li> Monomon l'araigné d'eau en 2006.</li>
        <li> Le jour où j'ai cultivé une étoile en 2006.</li>
        <li> M Pâte et la princesse Oeuf en 2010.</li>
        <li> La chasse au tésor en 2011.</li>
        <li> Boro la petite chenille en 2018.</li>
    </ul>

    <h2>Series televisees</h2>
    <ul>
        <li> Conan, le fils du futur en 1978.</li>
        <li> lupin III en 1980.</li>
        <li> Sherlock Holmes en 1984.</li>
    </ul>

    <h2>Scenariste</h2>
    <ul>
        <li> Petit Panda en 1972.</li>
        <li> Le chateau de de Cagliostro en 1979.</li>
        <li> Nausicaa la vallée du vent en 1984.</li>
        <li> Le chateau dans le ciel en 1986.</li>
        <li> Mon voisin Tototro en 1988.</li>
        <li> Kiki la petite sorcière en 1989.</li>
        <li> Porco Rosso en 1992.</li>
        <li> Si tu tend l'oreille en 1995.</li>
        <li> Princesse Mononoké en 1997 .</li>
        <li> Le voyage de Chihiro en 2001.</li>
        <li> Le chateau ambulant en 2004.</li>
        <li> Ponyo sur la falaise en 2008.</li>
        <li> Arietty, le petit monde des chapardeurs en 2010.</li>
        <li> Les souris sumo en 2010.</li>
        <li> La colline aux coquelicots en 2011.</li>
        <li> Le vent se lève en 2013.</li>
    </ul>

    <h2>Producteur</h2>
    <ul>
        <li> Omohide poroporo - Souvenirs goutte à goutte en 1991.</li>
        <li> Pompoko en 1994.</li>
        <li> Le royaume des chats en 2002.</li>
    </ul>

    <h2>Animateur</h2>
    <ul>
        <li> Gariba no Uchu Ryoko en 1965.</li>
        <li> Horus, prince du soleil en 1968.</li>
        <li> Le chat botté en 1969.</li>
        <li> Le vaisseau fantome volant en 1969.</li>
        <li> Les joyeuses pirates de l'île aux trésor en 1971.</li>
        <li> Panda petit panda en 1972.</li>
        <li> Panda petit panda Le cirque sous la pluie en 1973.</li>
    </ul>

    <h2>Livres</h2>
    <ul>
        <li> Le peuple du desert de 1969 en 1970.</li>
        <li> Horus, prince du soleil en 1968.</li>
        <li> Le voyage de Shuna en 1983.</li>
        <li> L'âge des hydravions en 1989.</li>
        <li> Miyazaki Hayao no Zassō nōto en 1992.</li>
        <li> Des tigres couverts de boue en 1999.</li>
        <li> Une excursion à Tynemouth en 2006.</li>
    </ul>

    <div id="video-carousel-example" class="carousel slide carousel-fade" style="text-align:center" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#video-carousel-example" data-slide-to="1"></li>
            <li data-target="#video-carousel-example" data-slide-to="2"></li>
            <li data-target="#video-carousel-example" data-slide-to="3"></li>
            <li data-target="#video-carousel-example" data-slide-to="4"></li>
            <li data-target="#video-carousel-example" data-slide-to="5"></li>
            <li data-target="#video-carousel-example" data-slide-to="6"></li>
            <li data-target="#video-carousel-example" data-slide-to="7"></li>
            <li data-target="#video-carousel-example" data-slide-to="8"></li>
            <li data-target="#video-carousel-example" data-slide-to="9"></li>
            <li data-target="#video-carousel-example" data-slide-to="10"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">

                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/kqQxEe-tro0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/2bU06h4x9UQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/bubkUJcYmeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/_mKSSiFoAIw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/xMA2PwA5hzU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/awEC-aLDzjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/3JG6JDuZUoc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Eyk1XckQWxY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/pGEsAlY49hw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/YTrEECZhpL0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/LVB5RUHYkzk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>