<div class="RealisateurMochizuki">
    <h1> Tomomi Mochizuki</h1>
    <div class="RealisateurKondo" style="text-align:center">
        <img class="Tomomi" src="assets/RealisateurMochizuki.jpeg" class="img-fluid rounded-circle" alt="Responsive image">
    </div>

    <h2>Qui est Tomomi Mochizuki ?</h2>

    <p>Né le 31 décembre 1958 à Hokkaido au Japon. Il est réalisateur japonais de film d'animation.</p>

    <h2>Ses debuts et son integration</h2>
    <p> Il est marié avec Goto Masako. Il débute sa carrière cinématographique à partir de 1981.</p>


    <h2>Les longs Metrages</h2>
    <ul>
        <li> Max et Compagnie en 1988.</li>
        <li> Je peux entendre l'océan en 1993.</li>
        <li> Oshare Majo Love and Berry en 2007.</li>
    </ul>

    <h2>Series Televisees</h2>
    <ul>
        <li> Tokimeki Tonight de 1982 en 1983.</li>
        <li> Ninjaman Ippei en 1982.</li>
        <li> Creamy, merveilleuse Creamy de 1983 en 1984.</li>
        <li> Emi magique de 1984 en 1985.</li>
        <li> Lamu en 1985.</li>
        <li> Touch de 1985 en 1987.</li>
        <li> Cynthia ou le rythme de la vie en 1986.</li>
        <li> Maison ikkoku en 1987.</li>
        <li> Project A-ko en 1987.</li>
        <li> Twilight Q en 1987.</li>
        <li> Malicieuse Kiki de 1987 en 1989.</li>
        <li> Ranma en 1989.</li>
        <li> Chunpui de 1989 en 1991.</li>
        <li> Tasuke, the Samurai Cop en 1990.</li>
        <li> Ore wa Chokkaku en 1991.</li>
        <li> Here is Greenwood de 1991 en 1993.</li>
        <li> Nintama Rantaro en 1993.</li>
        <li> Dan et Danny Flash en 1994.</li>
        <li> Tanjou en 1994.</li>
        <li> Fushigi Lala en 1995.</li>
        <li> Aka-Chan to Boku de 1996 en 1997.</li>
        <li> Brave commmand Dagwon de 1996 en 1997.</li>
        <li> Boku no Mary en 1996</li>
        <li> Yakumo Tatsu en 1997.</li>
        <li> Princess Nine en 1998.</li>
        <li> Sentimental Journey en 1998.</li>
        <li> Fancy Lala en 1998.</li>
        <li> Gasaraki de 1998 en 1999</li>
        <li> Angel Links en 1999</li>
        <li> Power Stone en 1999</li>
        <li> Seraphim Call en 1999.</li>
        <li> Mighty cat Masked Niyandar de 2000 en 2001.</li>
        <li> Argento Soma de 2000 en 2001.</li>
        <li> S-CRY-ed en 2001.</li>
        <li> I My Me! Strawberry Eggs en 2001.</li>
        <li> Geneshaft en 2001.</li>
        <li> Gundam Neo Experience 0087 Green Divers en 2001.</li>
        <li> Ailes Grises en 2002.</li>
        <li> Okojo-san en 2002.</li>
        <li> RahXephon en 2002.</li>
        <li> Yokohama Kaidashi Kiko de 2002 en 2003.</li>
        <li> Hanada shonen-shi de 2002 en 2003.</li>
        <li> Yami to Boshi to Hon no Tabibito en 2003</li>
        <li> Scrapped Princess en 2003.</li>
        <li> Twin spica de 2003 en 2004.</li>
        <li> Astro Boy de 2003 en 2004.</li>
        <li> Zorori le magnifique en 2004.</li>
        <li> Superior Defender Gundam Force en 2005.</li>
        <li> Zettai Shonen en 2005.</li>
        <li> Eureka Seven de 2005 en 2006.</li>
        <li> Yoshimune en 2006.</li>
        <li> Kujibiki Unbalance en 2006.</li>
        <li> Shinigami no ballad en 2006.</li>
        <li> Code Geass de 2006 en 2007.</li>
        <li> The Galaxy Railways en 2007.</li>
        <li> Toka Gettan en 2007.</li>
        <li> Porphy no Nagai Tabi en 2008.</li>
        <li> House of Five Leaves en 2010.</li>
        <li> Que sa volonte soit faite de 2010 en 2011.</li>
        <li> Starry Sky de 2010 en 2011.</li>
        <li> Sekaiichi Hatsukoi en 2011.</li>
        <li> Deadman Wonderland en 2011.</li>
        <li> The Idolmaster en 2011.</li>
        <li> Mashiroiro Symphony en 2011</li>
        <li> Secret service en 2012.</li>
    </ul>

    <h1> les longs Metrages de Tomomi Mochizuki.</h1>
    <div class="embed-responsive" style="text-align:center">
        <iframe class="OeuvresTomomi" width="560" height="315" src="https://www.youtube.com/embed/2Wx931S-MQg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="OeuvresTomomi" width="560" height="315" src="https://www.youtube.com/embed/tfkHiHjrqa8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>