<div class="LieuxTournage">
    <h1>Les lieux du Japon qui ont inspire le sutdio Ghibli.</h1>

    <h4>1. Caverne Ryukyu – Porco Rosso</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Ryuku.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Située à proximité du parc Shimoda sur la péninsule d’Izu, ce bout de plage ressemble à s’y méprendre au repaire de notre héros à la tête de cochon.</p>

    <h4>2. Yakushima – Princesse Mononoke</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/lieux-Mononoke.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Yakushima est un site du patrimoine mondial de l’humanité, ce qui en soit est une raison suffisante pour y faire une petite visite. Cette île est dotée de paysages à couper le souffle. Le trajet qui vous mènera au Jômon Sugi vous donnera l’impression
        de voyager dans la forêt de «Princesse Mononoke».</p>


    <h4>3. Dogo Onsen – Le voyage de Chihiro</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Dogo Onsen-Chihiro.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Jiufen à Taiwan est souvent indiqué comme source d’inspiration pour la création d’Aburaya, l’établissement des bains du film « Le Voyage de Chihiro » mais il semble que le célèbre producteur se soit également inspiré du Dogo Onsen, situé dans la ville
        de Matsuyama (Ehime).</p>

    <h4>4. Mitoyo – Souvenirs goutte a goutte</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Mitoyo.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Dans ce film, l’héroïne Taeko se déplace par ses propres moyens de Tokyo à Yamagata. Il existe de nombreux champs de Carthame dans la ville de Mitoyo (Kagawa) qui vous rappelleront les scènes d’Omoide Poroporo.
    </p>

    <h4>5. Tomonoura – Ponyo</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Tomonoura.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Cette magnifique vue est celle de la ville de Tomonoura à Hiroshima. Une balade dans cette ville vous donnera le sentiment d’être dans le film Ponyo. Les maisons, les bateaux au port, et le panorama du haut des montagnes vous feront demander si vous
        devez commencer la plongée à la recherche d’un poisson magique. Vous pourrez également visiter le musée Naramura qui a fortement inspiré la maison de Ponyo.</p>

    <h4>6. Seiseki-Sakuragaoka – Si tu tends l’oreille</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Seiseki-Sakuragaoka.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Même si ce lieu n’est pas aussi magnifique que les autres, si vous êtes un fan de Ghibli, Seiseki-Sakuragaoka vaut tout de même le détour. Située en banlieue de Tokyo, monter en haut de cette colline vous permettra de profiter d’un panorama de nuit
        typiquement japonais.</p>

    <h4>7. Seibien – Arrietty</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Seibein.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Seibien est une maison de style occidental située à Aomori. Son magnifique jardin japonais est considéré comme l’un des trois plus grands jardins de l’ère Meiji</p>

    <h4>8. Foret et arret de bus Totoro – Mon voisin Totoro</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/bus-Totoro.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>La forêt qui a inspiré Hayao Miyazaki se situe à Tokorozawa (Saitama), à proximité de son domicile. Un grand ménage de la forêt est d’ailleurs organisé en sa compagnie une fois par an.Nous vous recommandons également de vous rendre à l’arrêt de bus
        Totoro situé à Oita. Il ne s’agit pas de la ville du film mais l’ambiance y est tout simplement parfaite. Vous vous sentirez comme si le Chatbus allait apparaître de nulle part !</p>

    <h4>9. Kamikochi Teikoku (Imperial) Hotel – Le vent se leve</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Kamikochi.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>La façade, la toiture et la terrasse de ce prestigieux hôtel fondé en 1933 ressemble comme deux gouttes d’eau à l’hôtel visible dans le film.</p>

    <h4>10. Yokohama – La Colline aux coquelicots</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Yokohama.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Le film « La Colline aux coquelicots » se déroule dans la ville de Yokohama. On peut y trouver le Parc Negishi Natsukashi qui nous rappelle le Manoir Coquelicot, cette pension dans le film donnant sur le port. Il existe de nombreux autres endroits
        à ne pas manquer, comme le Parc de la vue sur le port (Minato-no-Oka mieru koen). Vous pourrez admirer 7 maisons de style occidental appelées Yamate Seiyoukan et y trouver différentes éditions du Quartier Latin, un journal également visible dans
        le film.</p>

    <h4>11. Yokohama – Le royaume des chats</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Royaume-Chats.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Il existe de nombreux endroits dans et autour de Tokyo qu’on peut découvrir dans le film « Le royaume des chats ». Nous aimons particulièrement Motomachi située également à Yokohama où Haru rencontre Muta. Les boutiques font de cette rue un lieu touristique
        idéal.
    </p>

    <h4>12. Mochirippunuma – Souvenirs de Marnie</h4>
    <div class="lieux" style="text-align:center">
        <img src="assets/Mochirippunuma.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Le parc de Kushiro semble avoir été le lieu d’inspiration pour les décors de « Souvenirs de Marnie » avec Mochirippunuma comme cadre idéal.</p>

    <h1>Les lieux hors du Japon qui ont inspire le sutdio Ghibli.</h1>


    <h4>1. Vallee de Rhondda au Pays de Galles – Le Chateau dans le ciel</h4>
    <div class="lieux " style="text-align:center">
        <img class="etranger mr-1" src="assets/Rhonda.jpg" class="img-fluid" alt="Responsive image">
        <img class="etranger ml-1" src="assets/Rhondda-1.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p>Vallée minière entourée de collines verdoyantes, la vallée de Rhondda a fortement inspiré Miyazaki et le studio Ghibli dans la réalisation de la ville natale de Pazu. Les anciennes constructions bâties en étages à l’intérieur des puits de mines rappellent
        les conditions de travail de Pazu, et, devant ces décors, on s’attendrait presque à voir Sheetah tomber du ciel, ou le navire volant des pirates de Dora s’écraser dans la campagne environnante !</p>

    <h4>2. Paronella Park en Australie – Le Chateau dans le ciel</h4>
    <div class="lieux" style="text-align:center">
        <img class="etranger mr-1" src="assets/Paronella.jpg" height="390" width="390" class="img-fluid" alt="Responsive image">
        <img class="etranger ml-1" src="assets/Paronella-1.jpg" height="390" width="390" class="img-fluid" alt="Responsive image">
    </div>

    <p>Toujours dans Le Château dans le Ciel, quittez la ville minière à bord de l’avion des pirates de Dora, et partezà la recherche de Laputa… Cité volante mythique née des voyages de Gulliver, elle renferme une connaissance aux confins de la magie et
        de la technologie, abandonnée des hommes depuis longtemps. Entre verdure et civilisation baroque éteinte, Miyazaki s’est inspiré d’un lieu réel pour décrire Laputa le Paronella Park en Australie. Ces vestiges de châteaux espagnols recouverts de
        mousse, nichés dans une forêt magique, semblent renfermer les secrets du collier de Sheetah…</p>

    <h4>3. Stockholm en Suède – Kiki la petite sorcière</h4>
    <div class="lieux" style="text-align:center">
        <img class="etranger mr-1" src="assets/Stockholm.jpg" height="390" width="390" class="img-fluid" alt="Responsive image">
        <img class="etranger ml-1" src="assets/Stockholm-1.jpg" height="390" width="390" class="img-fluid" alt="Responsive image">
    </div>
    <p>C’est en Suède que le studio Ghibli a posé ses balais volants, chats doués de parole et autres curiosités magiques afin de s’inspirer des lieux pour créer Kiki la petite sorcière. Entre Stockholm et Visby, les maisons colorées au bord du littoral
        confèrent un charme typiquement vintage à l’univers de Kiki. Si vous souhaitez transmettre un courrier au Kiki’s Delivery Service, n’hésitez pas à fureter du côté de Gamla Stan, la vieille ville. On y croise parfois une petite fille volant sur
        un balai…</p>

    <h4>4. Colmar en France – Le Château ambulant</h4>
    <div class="lieux" style="text-align:center">
        <img class="etranger mr-1" src="assets/Colmar.jpg" height="390" width="390" class="img-fluid" alt="Responsive image">
        <img class="etranger ml-1" src="assets/Colmar-1.jpg" height="390" width="390" class="img-fluid" alt="Responsive image">
    </div>
    <p>Isao Takahata, le regretté co-fondateur du studio Ghibli, a toujours eu une affection particulière pour la France. On retrouve cet amour du pays dans certains films qui mêlent plusieurs influences européennes, notamment dans Le château ambulant d’Hayao
        Miyazaki. C’est l’Alsace et plus particulièrement Colmar qui servirent de décor à la ville de Sophie, la jeune chapelière transformée en grand-mère par un sortilège. Qui sait quelle demeure colorée de Colmar abrite un Calcifer réchauffant l’âtre
        ?
    </p>

    <h4>5. Le palais d’Hofburg – Le Château ambulant</h4>
    <div class="lieux" style="text-align:center">
        <img class="etranger mr-1" src="assets/Hofburg.jpg" height="390" width="390" class="img-fluid" alt="Responsive image">
        <img class="etranger ml-1" src="assets/Hofburg-1.jpg" height="390" width="390" class="img-fluid" alt="Responsive image">
    </div>
    <p>Si l’étrange machine du Château Ambulant semble tout droit inspirée d’une œuvre de Jean Tinguely ou d’un roman de Jules Verne, la demeure de la puissante Suliman vient, elle, d’un symbole du pouvoir impérial : le palais d’Hofburg à Vienne. Autrefois
        demeure de la dynastie Habsbourg, ce splendide palais baroque semble encore résonner des rires de la Cour d’Autriche et de Sissi l’impératrice. A la suite d’Hauru et de Sophie, perdez-vous dans les luxueux couloirs de cette demeure…</p>
</div>